/* start outdoor Marketing style */

.outMarketing .topLinks {
  display: flex;
  align-items: center;
  position: absolute;
  top: 60px;
  margin: 0px 170px;
  height: 31px;
  z-index: 10;
}

.outMarketing .topLinks a {
  text-decoration: none !important;
  color: #fff;
  margin: 0px 20px;
}

.outMarketing .topLinks a.active {
  color: #0b1b34;
}

.outMarketing .topImg .imgCover {
  /* height: 100vh; */
  overflow: hidden;
}

.outMarketing .topImg img {
  width: 100%;
  object-fit: cover;
}

.outMarketing .topImg {
  /* max-height: 100vh; */
  position: relative;
}

.outMarketing .topImg:after {
  content: "";
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 5%,
    rgba(255, 255, 255, 0.85) 36%,
    rgba(255, 255, 255, 0.65) 65%,
    rgba(255, 255, 255, 0) 120%
  );
}

.outMarketing .topImg .caption {
  position: absolute;
  bottom: 15vh;
  left: 8%;
  z-index: 10;
  width: 50%;
}

.outMarketing .topImg .caption h2 {
  margin: 0px;
}

.outMarketing .topImg .caption p {
  margin: 8px 0px 0px;
  line-height: normal;
}

.outMarketing .topImg .marketingSelect {
  background: #fff;
  height: 46px;
  border-radius: 25px;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  margin-inline-start: -30px;
  margin-top: 36px;
  /* overflow: hidden; */
}

.outMarketing .marketingSelect .dropdown {
  height: 100%;
  width: 100%;
}

.outMarketing .marketingSelect .btn {
  height: 100%;
}

.outMarketing .marketingSelect .dropdown .btn {
  width: 100%;
  text-align: start;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #93a3b3;
}

.outMarketing .marketingSelect .dropdown-toggle::after {
  width: 16px;
  height: 16px;
  border: 2px solid #49c4d3;
  transform: rotate(45deg);
  border-top: 0px;
  border-left: 0px;
  margin-top: -6px;
}

.outMarketing .marketingSelect > .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  flex-shrink: 0;
}

.outMarketing .dropdown-menu .dropdown-item {
  background-color: transparent !important;
}

.outMarketing .dropdown-menu .dropdown-item:hover {
  color: #49c4d3;
}

.outMarketing .exAdvs {
  padding-bottom: 125px;
  background-image: url(../../../img/pictures/dots1.png);
  background-position: 91% 5%;
  background-repeat: no-repeat;
  background-size: auto 110%;
}

.outMarketing .exAdvs .customBorder {
  margin-inline-start: 0px !important;
}

.outMarketing .exAdvs .textContent {
  width: 750px;
  max-width: 90%;
  margin: auto;
}

.outMarketing .serRow {
  width: 950px;
  max-width: 100%;
  margin: auto;
}

.outMarketing .serRow .service {
  width: 195px;
  max-width: 100%;
  background-color: #fff;
  padding: 30px 16px;
  border-radius: 25px;
  text-decoration: none;
  margin: 15px;
  box-shadow: 0px 0px 20px 0px rgb(175 211 216 / 48%);
  display: inline-block;
  transition: transform 0.65s ease;
}

.outMarketing .serRow .service:hover {
  transform: scale(0.9, 0.9);
}

.outMarketing .serRow .col:nth-child(2) .service {
  margin-top: 28%;
}

.outMarketing .serRow .seoImg {
  max-width: 100%;
  margin: auto;
}

/* ledScreen  */

.outMarketing .ledScreen .shape {
  width: 90%;
  margin-top: -115px;
}

.outMarketing .ledScreen {
  position: relative;
  padding: 80px 0px;
  margin-top: -45px;
}

.outMarketing .ledScreen .textContent {
  padding-inline-end: 17%;
}

.outMarketing .ledScreen .bgGrediant {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.outMarketing .ledScreen .bgGrediant:before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -25%;
  left: -25%;
  background: linear-gradient(
    to bottom,
    rgba(91, 185, 198, 1) 0%,
    rgba(91, 185, 198, 1) 1%,
    rgba(33, 127, 140, 1) 28%,
    rgba(29, 24, 74, 1) 99%,
    rgba(29, 24, 74, 1) 100%
  );
  width: 150%;
  border-radius: 50%;
}

.outMarketing .customBorder {
  margin-inline-start: 8px;
}

/* ledScreen2  */

.outMarketing .ledScreen2 .bgGrediant {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.outMarketing .ledScreen2 .bgGrediant:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url(../../../img/pictures/outDots1.png);
  background-position: 43% -30%;
  background-repeat: no-repeat;
  background-size: auto 50%;
}

.outMarketing .ledScreen2 .bgGrediant:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url(../../../img/pictures/outDots2.png);
  background-position: 34% 129%;
  background-repeat: no-repeat;
  background-size: auto 50%;
}

.outMarketing .ledScreen2 .shape {
  width: 90%;
  margin-top: -115px;
}

.outMarketing .ledScreen2 .socialText {
  text-align: end;
}

.outMarketing .ledScreen2 {
  position: relative;
  padding: 170px 0px 65px;
}

.outMarketing .ledScreen2 .textContent {
  padding-inline-start: 17%;
}

/* billboard  */

.outMarketing .billboard .shape {
  width: 90%;
  margin-top: -115px;
}

.outMarketing .billboard {
  position: relative;
  padding: 80px 0px;
  margin-bottom: 0px;
  display: inline-block;
}

.outMarketing .billboard .textContent {
  padding-inline-end: 17%;
}

.outMarketing .billboard .bgGrediant {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.outMarketing .billboard .bgGrediant:before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -25%;
  left: -25%;
  background: #ebebeb;
  box-shadow: 0px 0px 20px 0px rgb(175 211 216 / 45%);
  width: 150%;
  border-radius: 50%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* End outdoor Marketing style */

/* ////////////////////////////////////////////////////// */

/* ///////////////* start media query /////////////////// */

/* ////////////////////////////////////////////////////// */

@media only screen and (max-width: 1350px) {
  .marketing .marServices {
    background-position: calc(100% - 100px);
  }
}

@media only screen and (max-width: 1320px) {
  .marketing .marServices {
    background-position: calc(100% - 50px);
  }
}

@media only screen and (max-width: 1280px) {
  .outMarketing .ledScreen2 .bgGrediant:before {
    background-position: 45% -8%;
    background-size: auto 40%;
  }
  .outMarketing .ledScreen2 .bgGrediant:after {
    background-position: 34% 122%;
    background-size: auto 40%;
  }
  .outMarketing .exAdvs {
    background-position: 96% 5%;
    background-size: auto 100%;
  }
}

@media only screen and (max-width: 1199px) {
  .marketing .marketingSelect > .btn,
  .outMarketing .marketingSelect > .btn {
    font-size: 17px;
    line-height: 46px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .marketing .marketingSelect .dropdown .btn,
  .outMarketing .marketingSelect .dropdown .btn {
    padding: 0px 25px;
    font-size: 17px;
  }
  .marketing .marketingSelect .dropdown-toggle::after,
  .outMarketing .marketingSelect .dropdown-toggle::after {
    width: 14px;
    height: 14px;
  }
  .marketing .dropdown-item,
  .outMarketing .dropdown-item {
    font-size: 15px;
  }
  .marketing .socialMedia {
    padding: 60px 0px;
  }
  .marketing .topLinks a,
  .outMarketing .topLinks a {
    margin: 0px 15px;
  }
  .marketing .topLinks,
  .outMarketing .topLinks {
    margin: 0px 150px;
  }
  .adsSlider .next {
    right: 5em;
  }
  .adsSlider .prev {
    left: 5em;
  }
  .marketing .increaseCustomers {
    background-image: none;
  }
  .outMarketing .exAdvs {
    background-image: none;
  }
  .outMarketing .ledScreen2 .bgGrediant {
    display: none;
  }
  .outMarketing .ledScreen2 {
    padding: 100px 0px 30px;
    margin-top: -50px;
  }
  .outMarketing .ledScreen2 .shape {
    margin-top: -40px;
  }
}

@media only screen and (max-width: 768px) {
  .navDiv {
    display: none;
  }
  .introSlider .container {
    height: calc(100% - 80px);
  }
  /* .homeServices .container {
    height: calc(100% - 80px);
} */
  .introSlider .arrow {
    display: none !important;
  }
  .introSlider .slider {
    height: auto;
  }
  .introSlider .inner {
    height: auto;
  }
  .introSlider .myImg {
    position: initial;
    transform: none;
    margin: 75px auto -40px;
    width: 75vh;
    height: 75vh;
    max-width: 85vw;
    max-height: 85vw;
  }
  .introSlider .sliders {
    height: auto;
    padding-bottom: 40px;
  }
  .introSlider .slider .caption {
    text-align: center;
    position: initial;
    width: 90%;
    margin: auto;
    margin-top: -9vh;
  }
  .introSlider .pagers .pager:nth-child(2) {
    top: 20px;
    left: 55%;
  }
  .introSlider .pagers .pager:nth-child(1) {
    top: 130px;
    left: 6px;
  }
  .introSlider .pagers .pager:nth-child(3) {
    top: 195px;
    left: auto;
    right: 6px;
  }
  .langBtn {
    margin: 20px 10px 5px;
    padding: 1px 8px;
    font-size: 15px !important;
  }
  .HeaderLogo {
    top: 10px;
    width: 15%;
  }
  .introSlider .sliders:after {
    top: 160px;
    height: 60vw;
    width: 60vw;
  }
  .homeServices .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homeServices .carousel-item .imgCover {
    margin: auto;
    margin-top: 35px;
    transform: rotate(45deg);
    position: initial;
    width: 130px;
    height: 130px;
  }
  .homeServices .carousel-item .minContent {
    height: auto;
  }
  .homeServices .carousel .carousel-inner {
    height: auto;
    padding-bottom: 40px;
  }
  .homeServices .carousel-item {
    height: auto;
  }
  .homeServices .carousel-caption {
    width: 90%;
    margin: auto;
    margin-top: 45px;
    position: initial;
    text-align: center;
  }
  .homeServices .arrow {
    bottom: auto;
    top: calc(50% - 80px);
  }
  .homeServices .arrow.carousel-control-next {
    right: 12px !important;
  }
  .homeServices .arrow.carousel-control-prev {
    left: 12px !important;
  }
  /* .nextBtn {
    left: calc(50% - 37px);
    width: 74px;
} */
  .page.current {
    overflow-y: scroll;
  }
  .homeServices .carousel-item .carousalNumber {
    font-size: 40px;
  }
  .homeAbout .container {
    padding: 0px;
  }
  .homeContact {
    padding-bottom: 50px;
  }
  .homeContact .mapContent {
    width: 235px;
    height: 235px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .homeAbout .slideActive .slide {
    max-width: 66vw;
    max-height: 66vw;
    padding: 25px;
  }
  .homeAbout .slideActive .slide .normalText {
    font-size: 12px;
  }
  .moveBtns {
    bottom: 30px;
  }
  .moveBtns a {
    margin: 0px 10px;
  }
  .moveBtns .nextBtn:hover {
    letter-spacing: 6px;
  }
  .moveBtns .nextBtn:hover::after {
    content: none;
  }
  .pos .topImg .caption .weSpan {
    font-size: 45px;
  }
  .marketing .topImg .caption .weSpan {
    font-size: 45px;
  }
  .largestTitle {
    font-size: 20px;
  }
  .largestText {
    font-size: 15px;
    line-height: 20px;
  }
  .pos .topImg .caption p {
    line-height: 18px;
  }
  .pos .topImg a {
    margin-top: 8px !important;
  }
  .marketing .topImg .caption p,
  .outMarketing .topImg .caption p {
    line-height: 18px;
  }
  .marketing .topImg a,
  .outMarketing .topImg a {
    margin-top: 8px !important;
  }
  .pos .features:after {
    top: 0px;
    transform: none;
  }
  .pos .rewardsRow {
    width: 292px;
    max-width: 100%;
  }
  .pos .rewardsRow .col {
    width: 290px;
    max-width: 100%;
    height: 235px;
  }
  #hardware-slider .owl-stage-outer {
    padding: 10px 0px;
  }
  #hardware-slider:after {
    width: 55vw;
    height: 55vw;
  }
  footer {
    position: initial;
  }
  footer .homeContact {
    overflow-y: auto !important;
  }
  .video .videoContent iframe {
    width: 95vw;
    height: 50vw;
  }
  .video .videoContent {
    height: calc(50vw + 14px);
    padding: 14px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .pos .topImg:after {
    height: 45px;
  }
  .pos .topImg .caption {
    bottom: 10%;
  }
  .pos-register .webForm h2 {
    font-size: 25px;
  }
  .pos-register .webForm {
    padding-inline-start: 4%;
  }
  .agreeConditions {
    padding: 6px 10px;
    margin: 2px 0px;
  }
  .pos-register .row {
    min-height: 0px;
  }
  .menuBtn {
    width: 40px;
    height: 40px;
  }
  .menuBtn span {
    margin: 2px;
  }
  .btn-lg {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 15px !important;
    min-width: 85px;
  }
  .toggleMenu {
    overflow-y: scroll;
  }
  .toggleMenu .row {
    flex-direction: column;
  }
  .toggleMenu .item {
    margin-bottom: 10vh;
  }
  .toggleMenu .col:last-of-type .item {
    margin-bottom: 4vh;
  }
  .toggleMenu .itemLink {
    width: 15vh;
    height: 15vh;
  }
  .toggleMenu .item .subLinks {
    margin-top: 0px;
  }
  .toggleMenu .item:hover .subLinks {
    margin-top: 7vh;
  }
  .menuShapes {
    animation: none;
  }
  .menuShapes .a1 {
    top: 12%;
    left: 5%;
    width: 22vh;
  }
  .menuShapes .a2 {
    left: 82%;
    top: 12%;
    height: 10vh;
  }
  .menuShapes .a3 {
    top: 74%;
    right: 0%;
    width: 22vh;
  }
  .menuShapes .a4 {
    top: 70%;
    right: 60%;
    width: 15vh;
  }
  .menuShapes .s1 {
    top: 35%;
    right: 15%;
  }
  .menuShapes .s2 {
    top: 20%;
    right: 70%;
  }
  .copyRights {
    bottom: 8px;
    right: 15px;
    font-size: 12px;
  }
  .marketing .topImg:after,
  .outMarketing .topImg:after {
    height: 45px;
  }
  .marketing .topImg .caption,
  .outMarketing .topImg .caption {
    width: 100%;
    padding: 10px;
    position: initial;
    text-align: center;
  }
  .marketing .topImg img,
  .outMarketing .topImg img {
    height: auto;
  }
  .marketing .largestTitle,
  .outMarketing .largestTitle {
    font-size: 14px;
    font-weight: 500 !important;
  }
  .marketing .topImg,
  .outMarketing .topImg {
    max-height: none;
  }
  .marketing .topImg .caption p,
  .outMarketing .topImg .caption p {
    color: #93a3b3 !important;
  }
  .marketing .topImg .marketingSelect,
  .outMarketing .topImg .marketingSelect {
    max-width: 100%;
    margin: 10px 2px 2px;
    box-shadow: 0px 0px 20px 0px rgb(175 211 216 / 48%);
  }
  .marketing .topImg:after,
  .outMarketing .topImg:after {
    height: 0px;
  }
  .marketing .marketingSelect > .btn,
  .outMarketing .marketingSelect > .btn {
    margin: 0px !important;
    padding: 0px 8px !important;
  }
  .marketing .popSocial {
    width: 80vw;
    height: 80vw;
    max-width: 360px;
    max-height: 360px;
  }
  .marketing .socialMedia .shape {
    display: none;
  }
  .marketing .socialText > div {
    position: initial;
    text-align: center;
    width: 100%;
    max-width: 370px;
    padding: 15px;
    padding-bottom: 0px;
    margin: auto;
  }
  .marketing .socialMedia {
    /* background-size: 200% 100%; */
    padding: 24px 0px;
  }
  .marketing .bgGrediant:before {
    right: -60%;
    left: -60%;
    width: 220%;
  }
  .outMarketing .ledScreen .bgGrediant:before {
    right: -60%;
    left: -60%;
    width: 220%;
  }
  .marketing .socialText h2 {
    color: #0b1b34 !important;
  }
  .marketing .socialText .normalText {
    color: #fff !important;
    margin-bottom: 10px;
  }
  .marketing .increaseCustomers .innerText {
    text-align: center;
    margin-top: 15px;
  }
  .marketing .increaseCustomers .adsServices {
    text-align: start;
  }
  .marketing .improveSite:after {
    left: -60%;
    right: -60%;
    width: 220%;
  }
  .marketing .improveSite .textContent {
    max-width: 100%;
    margin: 0px !important;
  }
  #seo-slider {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #seo-slider .owl-stage {
    padding: 10px 0px 0px;
  }
  .viaText .featuresRow {
    padding: 5px;
  }
  .viaText .col {
    padding: 5px;
  }
  .exViaText:before {
    left: -120%;
    right: -120%;
    width: 340%;
  }
  .exViaText .imgCover img {
    width: 300px;
    max-width: 95%;
  }
  .marketing .topLinks,
  .outMarketing .topLinks {
    flex-direction: column;
    align-items: flex-start;
    top: 48px;
    height: 30px;
    margin: 0px 0px;
  }
  .marketing .topLinks a,
  .outMarketing .topLinks a {
    height: 30px;
    line-height: 30px;
  }
  .marketing .socials a img {
    width: 85px;
    height: 85px;
  }
  .marketing .topImg .imgCover {
    height: auto;
  }
  .adsSlider .myContent,
  .adsSlider .item {
    width: 200px;
    height: 182px;
  }
  .adsSlider .item p {
    line-height: 14px;
    font-size: 10px;
    height: 155px;
  }
  .adsSlider .item .col {
    padding: 10px;
  }
  .adsSlider .a {
    /* transform: rotateY(0deg) translateZ(50px) rotateY(0deg); */
  }
  .adsSlider .b {
    /* transform: rotateY(120deg) translateZ(50px) rotateY(-120deg); */
  }
  .adsSlider .c {
    /* transform: rotateY(240deg) translateZ(50px) rotateY(-240deg); */
  }
  .adsSlider .adsCarousel,
  .adsSlider .adsCarousel div {
    transform: none !important;
    transition: none !important;
    transform-style: initial !important;
    position: initial;
  }
  .adsSlider .next,
  .adsSlider .prev {
    display: none;
  }
  .adsSlider {
    position: initial;
    padding: 0px;
  }
  .adsSlider .myContent,
  .adsSlider .item {
    width: 100%;
    perspective: none;
    height: auto;
  }
  .adsSlider .item {
    margin-bottom: 10px;
    box-shadow: 0px 0px 6px 2px rgb(175 211 216 / 45%);
  }
  .adsSlider .item p {
    height: auto;
  }
  .outMarketing .exAdvs {
    padding-bottom: 25px;
  }
  .outMarketing .serRow .col:nth-child(2) .service {
    margin-top: 10px;
  }
  .outMarketing .serRow .service {
    padding: 20px 10px;
    margin: 10px;
  }
  .outMarketing .ledScreen .shape,
  .outMarketing .ledScreen2 .shape,
  .outMarketing .billboard .shape {
    width: 90%;
    max-width: 460px;
    margin-top: 0px;
  }
  .outMarketing .ledScreen,
  .outMarketing .ledScreen2,
  .outMarketing .billboard {
    padding: 10px 0px;
    margin-top: 0px;
  }
  .outMarketing .ledScreen .textContent,
  .outMarketing .ledScreen2 .textContent,
  .outMarketing .billboard .textContent {
    padding: 15px;
    text-align: center;
  }
  .outMarketing .billboard .bgGrediant:before,
  .outMarketing .ledScreen .bgGrediant:before {
    width: 240%;
    right: -70%;
    left: -70%;
  }
}
