:root {
  --background-color: #e2c3c3;
  /* --orange-color: #c68787; */
  --orange-color: #c68787;
  --orange-900-color: #9E7E3F;
  --orange-800-color: #AE8B45;
  --orange-700-color: #B99650;
  --orange-600-color: #C0A060;
  --orange-500-color: #C6A970;
  --orange-400-color: #CCB380;
  --orange-300-color: #D3BC90;
  --orange-200-color: #D9C6A0;
  --orange-100-color: #DFCFB0;
  --silver-color: #9e9fa1;
  --white-color: #fff;
  --border-color: #e9e6e6;
  --jungle-color: #49c4d3;
  --dark-color: #212121;
  --dark-light-color: #3d3d3d;
  --gray-color: #93a3b3;
  --max-width: 1000px;
  --box-shadow-value: var(--silver-color) 0px 0px 3px;
}
