@font-face {
    font-family: arFont;
    src: url(../fonts/URWGeometricArabic-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: arFont;
    src: url(../fonts/URWGeometricArabic-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: arFont;
    src: url(../fonts/URWGeometricArabic-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: arFont;
    src: url(../fonts/URWGeometricArabic-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: enFont;
    src: url(../fonts/SFCompactText-Bold.ttf);
    font-weight: bold;
}

.homeServices .carousel-item .carousalNumber {
    font-family: enFont!important;
}

* {
    font-family: arFont;
    font-weight: 500;
    text-align: right;
    direction: rtl;
}

.weSpan {
    font-family: arFont;
    font-size: 72px;
    line-height: 92px;
}

.mediumTitle {
    font-size: 28px;
}

.mediumText {
    font-size: 23px;
}

.normalText {
    font-size: 19px;
}

.navDiv a p {
    font-size: 18px;
}

.largeTitle {
    font-size: 32px;
}

.largeTitle {
    /* font-size: 28px; */
}

.menuBtn {
    right: auto;
    left: 45px;
    text-align: center !important;
}

.navDiv {
    right: auto;
    left: 60px;
}

.navDiv:after {
    left: 8.5px;
    right: auto;
}

.introSlider .myImg * {
    direction: ltr !important;
}

.introSlider .pagers .pager:nth-child(1) {
    right: 21%;
    left: auto;
}

.introSlider .myImg {
    transform: translate(-50%, -50%) scale(-1, 1);
}

.introSlider .slider:nth-child(1) .arrow {
    border-left: 0px;
    border-right: 1px solid #c68787;
    border-top: 1px solid #c68787;
    right: calc(21% - 105px);
    left: auto;
    transform: skewX(45deg);
}

.introSlider .slider:nth-child(1) .caption {
    right: 0%;
    left: auto;
}

.introSlider .pagers .pager:nth-child(2) {
    left: auto;
    right: 56%;
}

.introSlider .slider:nth-child(2) .arrow {
    border-right: 0px;
    border-left: 1px solid #c68787;
    right: calc(56% + 40px);
    left: auto;
    transform: skewX(-45deg);
}

.introSlider .slider:nth-child(2) .caption {
    right: 60%;
    left: auto;
}

.introSlider .pagers .pager:nth-child(3) {
    right: 60%;
    left: auto;
}

.introSlider .slider:nth-child(3) .arrow {
    border-right: 0px;
    border-left: 1px solid #c68787;
    right: calc(57% - 105px);
    left: auto;
    transform: skewX( 45deg);
}

.introSlider .slider:nth-child(3) .caption {
    top: 55%;
    right: 11%;
    left: auto;
}

.nextBtn {
    letter-spacing: normal;
    padding-inline-end: 10px;
}

.nextBtn:hover {
    letter-spacing: normal!important;
    margin: 0px;
}

.homeTitle * {
    text-align: center!important;
}

.homeServices .imgCover:after {
    right: -24px;
    left: auto;
}

.homeServices .imgCover:before {
    right: calc(100% - 11px);
    left: auto;
}


/* Carousel Numbers position */

.homeServices .carousel-item:nth-child(4n+1) .carousalNumber {
    left: -65px;
    top: auto;
}

.homeServices .carousel-item:nth-child(4n+2) .carousalNumber {
    right: auto;
    bottom: -65px;
}

.homeServices .carousel-item:nth-child(4n+3) .carousalNumber {
    right: -65px;
    bottom: auto;
}

.homeServices .carousel-item:nth-child(4n+4) .carousalNumber {
    left: auto;
    top: -65px;
}

.homeServices .carousel-caption {
    /* text-align: start; */
    left: auto;
    right: calc(94% - 300px);
}


/* .homeServices .arrow.carousel-control-prev {
    right: calc(50% - 80px);
    left: auto;
} */


/* .homeServices .arrow.carousel-control-next {
    left: calc(50% - 80px);
    right: auto;
} */


/* .homeServices .arrow.carousel-control-next i {
    margin-inline-start: 3px;
    margin-top: 6px;
} */


/* .homeServices .arrow i {
    transform: rotate(135deg);
} */

.homeServices .lines span:nth-child(1) {
    transform: skewY(45deg);
    right: 50%;
    left: auto;
}

.homeServices .lines span:nth-child(2) {
    transform: skewY(-45deg);
    right: -10%;
    left: auto;
}

.homeServices .lines span:nth-child(3) {
    transform: skewY(-45deg);
    right: 20%;
    left: auto;
}

.homeServices .active .lines span:nth-child(1) {
    right: 0%;
    left: auto;
}

.homeServices .active .lines span:nth-child(2) {
    right: 20%;
    left: auto;
}

.homeServices .active .lines span:nth-child(3) {
    right: 75%;
    left: auto;
}


/* carousal position */


/* carousel 2  */

.homeServices .carousel-item:nth-child(4n+2) .carousel-caption {
    right: calc(94% - 300px);
    left: auto;
}

.homeServices .carousel-item.active:nth-child(4n+2) .lines span:nth-child(1) {
    right: 20%;
    left: auto;
}

.homeServices .carousel-item.active:nth-child(4n+2) .lines span:nth-child(2) {
    right: 20%;
    left: auto;
}

.homeServices .carousel-item.active:nth-child(4n+2) .lines span:nth-child(3) {
    right: 75%;
    left: auto;
}


/* carousel 3  */

.homeServices .carousel-item:nth-child(4n+3) .carousel-caption {
    right: 12%;
    left: auto;
}

.homeServices .carousel-item:nth-child(4n+3) .imgCover:after {
    left: -24px;
    right: auto;
}

.homeServices .carousel-item:nth-child(4n+3) .imgCover:before {
    right: -12px;
    left: auto;
}

.homeServices .carousel-item:nth-child(4n+3) .lines span:nth-child(1) {
    right: 75%;
    left: auto;
    transform: skewY(-45deg);
}

.homeServices .carousel-item:nth-child(4n+3) .lines span:nth-child(2) {
    right: 70%;
    left: auto;
    transform: skewY(45deg);
}

.homeServices .carousel-item:nth-child(4n+3) .lines span:nth-child(3) {
    right: 100%;
    left: auto;
    transform: skewY(45deg);
}

.homeServices .carousel-item.active:nth-child(4n+3) .lines span:nth-child(1) {
    transform: skewY(-45deg);
    right: 80%;
    left: auto;
}

.homeServices .carousel-item.active:nth-child(4n+3) .lines span:nth-child(2) {
    transform: skewY(45deg);
    right: 20%;
    left: auto;
}

.homeServices .carousel-item.active:nth-child(4n+3) .lines span:nth-child(3) {
    right: 75%;
    left: auto;
    transform: skewY(45deg);
}


/* carousel 4  */

.homeServices .carousel-item:nth-child(4n+4) .carousel-caption {
    right: 12%;
    left: auto;
}

.homeServices .carousel-item:nth-child(4n+4) .imgCover:after {
    right: calc(100% - 18px);
    left: auto;
}

.homeServices .carousel-item:nth-child(4n+4) .imgCover:before {
    left: -12px;
    right: auto;
}

.homeServices .carousel-item:nth-child(4n+4) .lines span:nth-child(1) {
    right: 75%;
    left: auto;
    transform: skewY(45deg);
}

.homeServices .carousel-item:nth-child(4n+4) .lines span:nth-child(2) {
    right: 110%;
    left: auto;
    transform: skewY(45deg);
}

.homeServices .carousel-item:nth-child(4n+4) .lines span:nth-child(3) {
    right: 100%;
    left: auto;
    transform: skewY(45deg);
}

.homeServices .carousel-item.active:nth-child(4n+4) .lines span:nth-child(1) {
    transform: skewY(45deg);
    right: 15%;
    left: auto;
}

.homeServices .carousel-item.active:nth-child(4n+4) .lines span:nth-child(2) {
    transform: skewY(45deg);
    right: 75%;
    left: auto;
}

.homeServices .carousel-item.active:nth-child(4n+4) .lines span:nth-child(3) {
    right: 75%;
    left: auto;
    transform: skewY(45deg);
}

.homeAbout .slide p {
    line-height: 24px;
}

.owl-carousel {
    direction: ltr;
}

.owl-carousel * {
    direction: ltr;
    text-align: center;
}


/* End Home Contact styling */


/* start pos styling  */

.pos .weSpan {
    font-size: 55px;
    line-height: 62px;
}

.text-center * {
    text-align: center!important;
}

.pos .features .feature * {
    text-align: center;
}

.pos .reward h3:after {
    left: auto;
    right: 1px;
}

#hardware-slider .slide li {
    direction: rtl;
}

.langBtn {
    right: 0px;
}

.pos .reward .details {
    left: auto;
    right: -20%;
    transition: right ease .5s, opacity ease .5s;
}

.pos .reward:hover .details {
    right: -5%;
    left: auto;
    opacity: 1;
}

.pos-register {
    transform: scale(-1, 1);
}

.pos-register .row {
    transform: scale(-1, 1);
}

.webForm .btn.sec-outline-btn i {
    transform: scale(-1, 1);
}

.toggleMenu .subLinks li {
    text-align: center;
}

.toggleMenu .itemLink {
    text-align: center;
}

.copyRights {
    left: 40px;
    right: auto;
}

.marketing .topImg img {
    transform: scale(-1, 1);
}

.marketing .topImg .caption,
.outMarketing .topImg .caption {
    right: 8%;
    left: auto;
}

.marketing .marketingSelect>.btn,
.outMarketing .marketingSelect>.btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.marketing .popSocial * {
    text-align: center;
}

.marketing .socialMedia .shape,
.exViaText .imgCover img {
    transform: scale(-1, 1);
}

.marketing .socialText h2 {
    font-size: 25px;
}

.viaText .feature h3 {
    text-align: center;
}

#seo-slider .owl-nav {
    flex-direction: row-reverse;
}

#seo-slider .owl-nav span {
    transform: scale(-1, 1);
}

.adsSlider .item p {
    font-size: 14px;
}

.marketing .increaseCustomers {
    background-position: 16% 20%;
}

.exViaText .col-sm-7 .textContent {
    padding: 0px 10vw!important;
    padding-right: 1.5rem!important;
}

.outMarketing .ledScreen,
.outMarketing .ledScreen *,
.outMarketing .ledScreen2,
.outMarketing .ledScreen2 *,
.outMarketing .billboard,
.outMarketing .billboard * {
    direction: ltr!important;
}

.outMarketing .ledScreen .socialText,
.outMarketing .billboard .socialText {
    text-align: left;
}

.outMarketing .ledScreen2 .bgGrediant:before {
    transform: scale(-1, 1);
}

.outMarketing .customBorder {
    margin-inline-start: 0px;
    margin-inline-end: 8px;
}


/* ////////////////////////////////////////////////////// */


/* ///////////////* start media query /////////////////// */


/* ////////////////////////////////////////////////////// */

@media only screen and (max-width: 1199px) {
    .introSlider .slider:nth-child(3) .caption {
        right: 14%;
        left: auto;
    }
    .homeServices .carousel-caption {
        right: calc(94% - 265px);
        left: auto;
    }
    .homeServices .carousel-item:nth-child(4n+2) .carousel-caption {
        right: calc(94% - 270px);
        left: auto;
    }
    .homeServices .carousel-item:nth-child(4n+3) .carousel-caption {
        right: 14%;
        left: auto;
    }
    .introSlider .slider:nth-child(3) .arrow {
        right: calc(57% - 110px);
    }
    .homeServices .carousel-item:nth-child(4n+4) .carousel-caption {
        right: 14%;
        left: auto;
    }
    .pos .weSpan {
        font-size: 45px;
        line-height: 45px;
    }
    .largestTitle {
        font-size: 33px;
    }
}

@media only screen and (max-width: 991px) {
    .navDiv {
        left: 25px;
        right: auto;
    }
    .menuBtn {
        left: 10px;
        right: auto;
    }
    .homeServices .carousel-caption {
        right: calc(94% - 170px);
        left: auto;
    }
    .homeServices .carousel-item:nth-child(4n+2) .carousel-caption {
        right: calc(94% - 190px);
        left: auto;
    }
    .homeServices .carousel-item:nth-child(4n+3) .carousel-caption {
        right: 5%;
        left: auto;
    }
    .homeServices .carousel-item:nth-child(4n+4) .carousel-caption {
        right: 5%;
        left: auto;
    }
    .introSlider .slider:nth-child(3) .caption {
        top: 60%;
    }
    .introSlider .slider:nth-child(3) .arrow {
        right: calc(62% - 110px);
    }
    .homeAbout .slide p {
        line-height: 20px;
    }
    .weSpan {
        font-size: 75px;
        line-height: 60px;
    }
    .largeTitle {
        font-size: 18px;
    }
    .largestTitle {
        font-size: 30px;
    }
    .pos .weSpan {
        font-size: 35px;
        line-height: 40px;
    }
    .largestTitle {
        font-size: 25px;
    }
    .normalText {
        font-size: 17px;
    }
    .exViaText .col-sm-7 .textContent {
        padding: 0px 3vw!important;
    }
}

@media only screen and (max-width: 767px) {
    .introSlider .slider .caption * {
        text-align: center;
    }
    .introSlider .pagers .pager:nth-child(2) {
        right: 55%;
        left: auto;
    }
    .introSlider .pagers .pager:nth-child(1) {
        right: 6px;
        left: auto;
    }
    .introSlider .pagers .pager:nth-child(3) {
        left: 6px;
        right: auto;
    }
    .introSlider .myImg {
        transform: scale(-1, 1);
    }
    /* .homeServices .arrow.carousel-control-next {
        left: 12px;
        right: auto;
    }
    .homeServices .arrow.carousel-control-prev {
        right: 12px;
        left: auto;
    } */
    .homeServices .carousel-caption * {
        text-align: center;
    }
    .moveBtns a {
        margin: 0px 10px!important;
    }
    .weSpan {
        font-size: 42px;
    }
    .pos .topImg .caption .weSpan {
        font-size: 30px;
    }
    .largestTitle {
        font-size: 20px;
    }
    .mediumText {
        font-size: 17px;
    }
    .copyRights {
        bottom: 8px;
        right: auto;
        left: 15px;
        font-size: 12px;
    }
    .marketing .largestTitle,
    .outMarketing .largestTitle {
        font-size: 20px;
        font-weight: 600!important;
    }
    .marketing .socialText * {
        text-align: center;
    }
    .marketing .increaseCustomers .innerText h3,
    .marketing .increaseCustomers .innerText .secColor {
        text-align: center;
    }
    .adsSlider .item p {
        font-size: 12px;
        line-height: 15px;
    }
    .outMarketing .ledScreen .textContent *,
    .outMarketing .ledScreen2 .textContent *,
    .outMarketing .billboard .textContent * {
        text-align: center;
    }
    .outMarketing .topImg .caption *,
    .marketing .topImg .caption * {
        text-align: center;
    }
}


/* ////////////////////////////////////////////////////// */


/* ///////////////* End media query /////////////////// */


/* ////////////////////////////////////////////////////// */